RUNNER_IMAGE=adastravideo/transcription:latest
AI_RUNNER_PORT=8000
PYTRICKLE_LOG_LEVEL=WARNING
HF_TOKEN=token
TRANSCRIPTION_CUDA_VISIBLE_DEVICES=0
MAX_CONCURRENT_SUMMARIES=20
#vllm local summary insights settings
LOCAL_REASONING_MODEL=cyankiwi/Nanbeige4.1-3B-AWQ-4bit
LOCAL_REASONING_MODEL_USES_SYSTEM_PROMPT=yes
LOCAL_REASONING_MODEL_VLLM_SETTINGS=--reasoning_parser deepseek_r1
LOCAL_REASONING_VLLM_CUDA_VISIBLE_DEVICES=0
LOCAL_REASONING_MODEL_PORT=5000
#vllm local fast summary settings
LOCAL_FAST_MODEL=LiquidAI/LFM2.5-1.2B-Instruct
LOCAL_FAST_MODEL_USES_SYSTEM_PROMPT=yes
LOCAL_FAST_MODEL_VLLM_SETTINGS=
LOCAL_FAST_VLLM_CUDA_VISIBLE_DEVICES=0
LOCAL_FAST_MODEL_PORT=5050
#embedding model for agent search (on cpu)
LOCAL_EMBEDDING_MODEL=your_embedding_model_here
LOCAL_EMBEDDING_MODEL_PORT=6060
#below is handled by runner router (use here if not using runner router, recommend using runner router)
#AI_RUNNER_URL=http://byoc-stream-runner:8000
#CAPABILITY_NAME=audio-transcription
#CAPABILITY_CAPACITY=1
#CAPABILITY_PRICE_PER_UNIT=1002
#CAPABILITY_PRICE_SCALING=1
#CAPABILITY_PRICE_CURRENCY=WEI
#ORCH_SERVICE_ADDR=byoc-stream-orchestrator:9995
#ORCH_SECRET=orch-secret
